.body-wrap

  .featured 
    text Latest Work
    
    .featuredTitle A City's Dependance on Uber
      
    .parentSummaryContainer
      .childFeaturedSummary With Uber's latest release of their "Movement" platform to provide cities with select data about the ridesharing usage, city leaders must be weary with how they interpret this information.
      .image#featured(style='background-image: url("../assets/img/blog_uber_cities_tile.png")')
      .childReadMore  
        a(href="https://medium.com/@91DegreesNorth/a-citys-dependance-on-uber-eafe3eea35bb#.mx2imbyv1") Read the Post on Medium
      

  br  
    
  hr
    
  .passions Passions
    
    .passionTitle Cartography
    .subheader Great spatial data is as valuable as what you can communicate with it.
    br
    .summary Maps are an incredible way to communicate actionable information with data. They can save lives and help communicate a pattern that no spreadsheet can. Creating cutting edge techniques to better communicate spatial data is a major focus of mine. Some of me projects and writings on Cartography are below.
    a(href="http://localhost:3000/projects/floatie.html")
      .image#Cartography1(style='background-image: url("../assets/img/placeholder.png")')
    a(href="http://localhost:3000/projects/floatie.html")
      .image#Cartography2(style='background-image: url("../assets/img/placeholder.png")')
    a(href="http://www.91degreesnorth.io/projects/floatie.html")
      .image#Cartography3(style='background-image: url("../assets/img/placeholder.png")')

  
    br
    
    .passionTitle Community Building
    .subheader People don’t know their true potential until you empower them.
    br
    .summary I spend my time building communities, solutions, and events. My passion for technology drives me to create events that connect and uplift people to accomplish goals they never thought possible.
    .imageContainer  
      a(href="http://localhost:3000/projects/floatie.html")
        .image#Floatie(style='background-image: url("../assets/img/floatie_tile.png")')
      a(href="http://www.91degreesnorth.io/projects/hackfsu16.html")
        .image#hackfsu(style='background-image: url("../assets/img/hackfsu_tile.png")')
      a(href="http://www.91degreesnorth/projects/floridahackers.html")
        .image#floridahackers(style='background-image: url("../assets/img/floridahackers_tile.png")')


    
    br
    
    .passionTitle
      text Research
    .subheader
      text Innovation of the status quo is the way forward.
    br
    .summary Finding problems with how to visualize 2 data sets or how to normalize data into uniform spatial units are challenges affecting huge groups of people. Creating soluations that make it easier has shown how improving a small tool can make a great impact. 
    a(href="http://www.91degreesnorth.io/projects/floatie.html")
      .image#Research1(style='background-image: url("../assets/img/placeholder.png")')
    a(href="http://www.91degreesnorth.io/projects/floatie.html")
      .image#Research2(style='background-image: url("../assets/img/placeholder.png")')
    a(href="http://www.91degreesnorth.io/projects/floatie.html")
      .image#Research3(style='background-image: url("../assets/img/placeholder.png")')
