.intro
  p.heading Floatie
  ul
    li.date October 2016
    li.description Florida Hackers Conference
    li.skills Sponsorship Raising, Remote Team, Event Planning
  
  p.summary Fill the gaps between hackathons and give student tech leaders the tools to create and grow their own communities.

  
  
