.header
  .site-nav
    .link
      a(href="/") Home
    //- .link
      // a(href="/blog") Blog
    .link
      a(href="/projects") Projects
    //- .link
      // a(href="/research") Research
    .link
      a(href="/resume.pdf") Resume
  
