.footer
  hr
  .madeWith
    p Built in Tallahassee, FL
  .iconGroup
    .icon
      a(href='https://twitter.com/91degN')
        i.fa.fa-twitter
    .icon
      a(href='https://www.instagram.com/91degreesnorth/')
        i.fa.fa-instagram
    .icon
      a(href='https://www.linkedin.com/in/benjaminwthornton')
        i.fa.fa-linkedin-square
    .icon
      a(href='https://github.com/geofsu')
        i.fa.fa-github
    .icon
      a(href='https://medium.com/@91degreesnorth')
        i.fa.fa-medium
    .icon
      a(href='mailto:benjaminwthornton@gmail.com')
        i.fa.fa-envelope-o    
