.intro
  p.heading Bivariate Statistical Legends
  ul
    li.date Fall 2016
    li.description Research published on geographic legends and the application of scatterplots
    li.skills GIS, Cartography, Research
  
    p.summary Putting the data in front of the user
    
.mainBody
    .bodyText While we were developing the methods for bivariate mapping #[a(href="http://www.91degreesnorth.io/projects/bivariatemapping.html") (Read More Here)] we found that it can be very beneficial for both the map maker and the reader to understand the data that is represented on the map. Simply putting the plotted data into the colored legend can add a lot to communicating the purpose of the map and the inherent bias. 
    br
    .bodyText You can explore the published article #[a(href="http://journals.fcla.edu/flgeog/article/view/88313") here] or download the pdf below. 
    br
    .documentLinkContainer
      .documentLink
        a(href="../assets/files/Statistical_Legends_Strode_Thornton.pdf")
          img(src="../assets/img/pdf_bivariate_tiles-28.png" alt="PDF download button")

    
