.intro
  p.heading FL Go Green Story Map Competition
  ul
    li.date Spring 2017
    li.description A competition for middle and high school students around the topic of GIS and the creation of ESRI Story Maps around environmental preservation.
    li.skills GIS, Cartography
  
    p.summary 
    
.mainBody
    .bodyText  
    br
    .bodyText  
    br
    .documentLinkContainer
      .documentLink
        a(href="../assets/files/Go_Green_Help_Doc.pdf")
          img(src="../assets/img/pdf_go_green.png" alt="PDF Download Button")
    br
  
