.projects

  .section
    .heading 
      .title Featured
      .subtitle Personal Favorites
    .project  
      a(href="https://medium.com/@91DegreesNorth/a-citys-dependance-on-uber-eafe3eea35bb#.mx2imbyv1")
        .image(style='background-image: url("../assets/img/blog_uber_cities_tile.png")')
      .title Uber Cities
      .description Reflections on what opening Uber data means for cities.
    .project  
      a(href="http://www.91degreesnorth.io/projects/floatie.html")
        .image(style='background-image: url("../assets/img/placeholder.png")')
      .title Placeholder
      .description Lorum Ipsum
    .project  
      a(href="http://www.91degreesnorth.io/projects/floatie.html")
        .image(style='background-image: url("../assets/img/placeholder.png")')
      .title Placeholder
      .description Lorum Ipsum
      
  br
  
  hr

  .section
    .heading 
      .title Mapping
      .subtitle Spatial Analysis and Visualizations
    .project  
      a(href="http://www.91degreesnorth.io/projects/floatie.html")
        .image(style='background-image: url("../assets/img/placeholder.png")')
      .title Map 1
      .description Lorum Ipsum
    .project  
      a(href="http://www.91degreesnorth.io/projects/floatie.html")
        .image(style='background-image: url("../assets/img/placeholder.png")')
      .title Map 2
      .description Lorum Ipsum
    .project  
      a(href="http://http://91degreesnorth.io//projects/floatie.html")
        .image(style='background-image: url("../assets/img/placeholder.png")')
      .title Placeholder
      .description Lorum Ipsum
